body {
width:100vw;
background-color: gray;
color:#ffffff;
  justify-content: center;
}

.outer {
  overflow: hidden;
  flex-wrap: nowrap;
  position: relative;
  overflow-x: scroll;

  -webkit-overflow-scrolling: touch;
}
